# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
space-tourism-website-main/.gitignore
space-tourism-website-main/preview.jpg
space-tourism-website-main/starter-code/.gitignore
space-tourism-website-main/starter-code/crew-commander.html
space-tourism-website-main/starter-code/crew-engineer.html
space-tourism-website-main/starter-code/crew-pilot.html
space-tourism-website-main/starter-code/crew-specialist.html
space-tourism-website-main/starter-code/data.json
space-tourism-website-main/starter-code/dd.md
space-tourism-website-main/starter-code/destination-europa.html
space-tourism-website-main/starter-code/destination-mars.html
space-tourism-website-main/starter-code/destination-moon.html
space-tourism-website-main/starter-code/destination-titan.html
space-tourism-website-main/starter-code/index.html
space-tourism-website-main/starter-code/technology-capsule.html
space-tourism-website-main/starter-code/technology-spaceport.html
space-tourism-website-main/starter-code/technology-vehicle.html
space-tourism-website-main/starter-code/assets/favicon-32x32.png
space-tourism-website-main/starter-code/assets/crew/background-crew-desktop.jpg
space-tourism-website-main/starter-code/assets/crew/background-crew-mobile.jpg
space-tourism-website-main/starter-code/assets/crew/background-crew-tablet.jpg
space-tourism-website-main/starter-code/assets/crew/image-anousheh-ansari.png
space-tourism-website-main/starter-code/assets/crew/image-anousheh-ansari.webp
space-tourism-website-main/starter-code/assets/crew/image-douglas-hurley.png
space-tourism-website-main/starter-code/assets/crew/image-douglas-hurley.webp
space-tourism-website-main/starter-code/assets/crew/image-mark-shuttleworth.png
space-tourism-website-main/starter-code/assets/crew/image-mark-shuttleworth.webp
space-tourism-website-main/starter-code/assets/crew/image-victor-glover.png
space-tourism-website-main/starter-code/assets/crew/image-victor-glover.webp
space-tourism-website-main/starter-code/assets/destination/background-destination-desktop.jpg
space-tourism-website-main/starter-code/assets/destination/background-destination-mobile.jpg
space-tourism-website-main/starter-code/assets/destination/background-destination-tablet.jpg
space-tourism-website-main/starter-code/assets/destination/image-europa.png
space-tourism-website-main/starter-code/assets/destination/image-europa.webp
space-tourism-website-main/starter-code/assets/destination/image-mars.png
space-tourism-website-main/starter-code/assets/destination/image-mars.webp
space-tourism-website-main/starter-code/assets/destination/image-moon.png
space-tourism-website-main/starter-code/assets/destination/image-moon.webp
space-tourism-website-main/starter-code/assets/destination/image-titan.png
space-tourism-website-main/starter-code/assets/destination/image-titan.webp
space-tourism-website-main/starter-code/assets/home/background-home-desktop.jpg
space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg
space-tourism-website-main/starter-code/assets/home/background-home-tablet.jpg
space-tourism-website-main/starter-code/assets/shared/icon-close.svg
space-tourism-website-main/starter-code/assets/shared/icon-hamburger.svg
space-tourism-website-main/starter-code/assets/shared/logo.svg
space-tourism-website-main/starter-code/assets/technology/background-technology-desktop.jpg
space-tourism-website-main/starter-code/assets/technology/background-technology-mobile.jpg
space-tourism-website-main/starter-code/assets/technology/background-technology-tablet.jpg
space-tourism-website-main/starter-code/assets/technology/image-launch-vehicle-landscape.jpg
space-tourism-website-main/starter-code/assets/technology/image-launch-vehicle-portrait.jpg
space-tourism-website-main/starter-code/assets/technology/image-space-capsule-landscape.jpg
space-tourism-website-main/starter-code/assets/technology/image-space-capsule-portrait.jpg
space-tourism-website-main/starter-code/assets/technology/image-spaceport-landscape.jpg
space-tourism-website-main/starter-code/assets/technology/image-spaceport-portrait.jpg
src/assets/react.svg
